
.header{background: #000; overflow: hidden;}

.header .logo h1 {
    padding: 5px 10px;
}
.header .logo h1 img{
    width: 80px;
}
.header .top-btn ul {
    margin-top: 15px;
}
.header .top-btn ul li a {
    font-size: 12px;
    padding: 10px 5px;
    color: #fff;
}

.menu > div > ul > li {
    width: 45%;
}
.menu > div > ul > li.menu-top {
	vertical-align: top;
}
.menu > div > ul > li a {
    display: block;
    padding: 10px;
    font-size: 15px;
    margin: 10px 20px;
}
.m-menu-bar{display:block; background: #fff; width:100%; height:35px;}
.m-menu{position:absolute; right: 10px; top: 56px; z-index:9999;}
.m-menu a{display: block; width:25px; height:20px; position: relative;}
.m-menu a span{width: 100%; height: 3px; background: #000; display: block; position: absolute; transition: all 0.3s; border-radius: 10px;}
.m-menu a span:nth-child(1){top:0px}
.m-menu a span:nth-child(2){top:8px}
.m-menu a span:nth-child(3){bottom:1px}

.m-menu a.active span:nth-child(1){
	transform: rotate(315deg) translateY(7px) translateX(-6px);
}
.m-menu a.active span:nth-child(2){
	opacity:0;
}
.m-menu a.active span:nth-child(3){
	transform: rotate(-315deg) translateY(-6px) translateX(-4px);
}
.menu {height:0px; transition: all 0.3s; display: none;}
.menu.active{height:auto; display: block;}
.menu.active div > ul > li a{border-bottom:1px solid #ccc;}

.menu > div > ul > li > ul.submenu {
    position: relative;
    z-index: 9;
    background: #fff;
    display: none;
    width: 100%;
}
.menu > div > ul > li > ul.submenu li {
	border-bottom: none;
}
.menu > div > ul > li > ul.submenu li a {
	border-bottom: none;
	font-size: 12px;
}

/* 메인화면 bbs-box */
.bbs-box > div > .board-box {
    float: none;
    width: auto;
}
.bbs-box > div > .right-banner {
    float: none;
    width: auto;
}
.tab-con ul li a {
    width: 75%;
}

/* 공지사항 notice_list.html*/
.search-box button {
    padding: 0px 10px;
}
.search-box input {
    width: 35%;
}
.search-box {
    padding: 20px 5px;
}
.view .view-con {
    height: 400px;
}
.notice-table ul.table-hd {
    display: none;
}
.notice-table ul.table-bd {
    border-top: 3px solid #000;
}
.notice-table ul li {
    border-bottom: 1px solid #ccc;
}
.notice-table ul li > div {
    display: inline-block;
	border: none;
	float: left;
}
.notice-table ul li > div.no {
    width: 100%;
    text-align: center;
	padding: 0px;
}
.notice-table ul li > div.subject {
    width: 100%;
	padding: 5px 20px;
}
.notice-table ul li > div.subject a {
    display: block;
    text-align: center;
	font-size: 20px;
}
.notice-table ul li > div.name {
    width: auto;
    float: right;
    padding: 5px;
    font-size: 10px;
}
.notice-table ul li > div.date {
    width: auto;
    float: left;
    padding: 5px;
    font-size: 10px;
}
.contents{padding: 10px;}

/* 공지사항 글쓰기 */
.write-form label {
    display: block;
    text-align: left;
    padding: 10px 0px;
	width: auto;
}
.write-form input[type="text"] {
    width: 100%;
	padding: 5px;
}
.write-form textarea {
    width: 100%;
}
.write-form li.notice-select label[for="check-notice"] {
    width: auto;
    display: inline;
	margin-left: 5px;
}

/* 갤러리 리스트 */
.gallery-table > ul > li {
    width: 25%;
}
.gallery-table .thum {
    padding-bottom: 100%;
    height: 0px;
}

/* 장소예약 booking.html */
.booking-table .thum a {  
    border: none;
    height: auto;
}
.booking-table .thum {
    width: 100%;
}
.booking-table > ul > li > div {
    float: none;
}
.booking-table .info {
    width: 100%;
    text-align: center;
	padding: 5px;
}
.booking-view > div {
    padding: 5px;
}
.booking-view .photo-box > div {
    padding: 5px 10px;
}
.booking-view .photo-box .view-photo {
	float: none;
    width: 100%;
	height: auto;
}
.booking-view .photo-box .calendar {
    float: none;
    width: 100%;
    height: auto;
}
.booking-view .photo-box .calendar {
    background: #f5f5f5;
}
.cal-hd {
    background: #fff;
}
.cal-box {
	background: #fff;
}

/* 마이페이지 */
.mypage-list{background: #fff; margin-top: 10px;}
.mypage-list ul.table-hd{text-align: center; border-top: 2px solid #000;}
.mypage-list ul.table-bd{text-align: center;}
.mypage-list ul.table-bd .location{text-align: left; font-size: 12px; font-weight: bold;}
.mypage-list ul li{display: table; width: 100%;}
.mypage-list ul li > div{display: table-cell; border-bottom: 1px solid #ccc; padding: 10px}
.mypage-list ul li > div.no{width:10%}
.mypage-list ul li > div.location{width:50%}
.mypage-list ul li > div.status{width:15%; }
.mypage-list ul li > div.reservation-date{width:15%;}
.mypage-list ul li > div.transaction-date{width:15%;}